
* {
  margin-bottom: 0px;
  
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: white;
}

.second {
  display: flex;
  transition: transform 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
  .first{
    position:fixed;
    top: 15px;
    margin-left: 10px;
    left:0px;

  }
  .second {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: 100vh;
    flex-direction: column;
    transform: translateX(100%);
  }

  .second.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .second ul {
    flex-direction: column;
    margin-top: 20px;
  }

  .second ul li {
    margin: 10px 0;
    text-align: center;
  }
}


.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0);
  padding: 0 20px;
  height: 50px;
  font-size: medium;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.first {
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.second ul {
  display: flex;
  list-style: none;
  margin-bottom: 11px;
}

.second ul li {
  margin: 0 20px;
  cursor: pointer;
  font-weight: bolder;
  
}
.second ul li a{
  color: white;
}

.second ul li a:hover{
  color: #007BFF;
}

.about {
  margin-top: 70px;
  padding: 20px;
  display: flex;
}

.about h1 {
  font-size: 2rem;
  color: rgb(255, 0, 0);
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}



fieldset {
  height: 370px;
  width: fit-content;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 20px;
}

.init h1 {
  font-size: 3rem;
  color: rgb(255, 0, 0);
  text-align: left;
  margin-top: 10px;
}

.init p {
  font-size: 1rem;
  color: #555;
  padding: 25px;
  width: 500px;
  margin: 0 auto;
  text-align: justify;
  line-height: 2rem;
}

.frame{
  text-align: center;
  float: right;
}

.custombutton{
  padding: 10px 20px;
  color: white;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custombutton:hover{
  background-color: #007BFF;
}
.col{
  color: white;
}

.photo img {
  height: 350px;
  width: 350px;
  margin-top: 20px;
  margin-left: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0; 
  transform: translateY(-50px); 
  animation: slideIn 3s linear forwards; 
}

.projects {
  padding: 20px;
}

.section-title {
  font-size: 3rem;
  color: rgb(255, 0, 0);
  text-align: left;
  margin-bottom: 40px;
  margin-left: 20px;
  font-weight: bolder;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.project-card {
  width: 450px;
  height:400px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.project-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.project-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 195, 255);
  margin-top: 10px;
  
}
a{
  text-decoration:none;

}

.project-detail-image {
  width: 50%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-detail h1 {
  font-size: 2rem;
  color:black
}



.see{
  margin-top: 40px;
  text-align: center;
}

.more{
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}
.more:hover{
  background-color: #007BFF;
}

.skills {
  text-align:center;
  margin-top: 30px;
}

.skills-container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.skill-card {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  width: 220px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-image {
  width: 150px;  
  height: 150px;  
  object-fit: contain; 
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px); 
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}

.foot-title {
  font-size: 3rem;
  color: rgb(255, 0, 0);
  margin-bottom: 20px;
  margin-top: 30px;
  float: left;
  font-weight: bold;
}


/* Footer Styles */
.footer {
  padding: 20px;
  background-color:rgb(187, 184, 184);
  color: black;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  height: 220px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.left {
  flex: 1;
  text-align: left;
}
.left p{
  font-size: 1.5rem;
}
.right {
  flex: 1;
  position: relative;
}

.right ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 50px;
}

.right ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  gap: 15px;
}

.right ul li a:hover {
  color: #007BFF;
}

.divider {
  width: 1px;
  background-color: black;
  height: 150px;
  margin-top:20px;
  margin-bottom: 5px;
}

.footer-input {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.footer-input input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.footer-input button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
}

.footer-input button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    text-align: center;
  }

  .second ul {
    flex-direction: column;
  }

  .second ul li {
    margin: 10px 0;
  }

  .about {
    margin-top: 100px;
    margin-left: 0px;
    width: 200px;
    height: 240px;
    flex-direction: row;
  }
    .photo img {
    margin-left: 95px;
    height: 100px;
    width: 100px;
  }
  .about h1 {
    font-size: 2rem;
    color: rgb(255, 0, 0);
  }

  .init p {
    font-size: 0.3rem;
    color: #555;
    padding: 25px;
    width: 180px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1rem;
  }
  fieldset {
    height: 230px;
    width:190px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: 20px;
  }

  .frame{
    float: right;
    margin-bottom: -70px;
  }
  
  .custombutton{
    padding: 10px 20px;
    color: white;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
   width: 50px;
   height: 20px;
  
  }
  .custombutton:hover{
    background-color: #007BFF;
  }
  
  .projects {
    padding: 20px;
  }

  .section-title {
    font-size: 2rem;
    margin-left: 0;
  }

  .project-grid {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .project-card {
    width: 45%;
    height:150px;
  }

  .project-image {
    width: 120px;
    height: 90px;
    object-fit: cover;
  }
  .project-title {
    font-size: 0.5rem;
    margin-top: 10px;
}

  .skills-container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .skill-card {
    width: 40%;
    text-align: center;
    flex-direction: row;
  }

  .skill-image {
    width: 120px;
    height: 120px;
  }
  .footer {
    margin-top: -10px;
    padding: 20px;
    text-align: center;
  }

  .footer-content {
    flex-direction: row;
    text-align: center;
  }
.left p{
  font-size: 1rem;
}
  .footer-input {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    align-items: center;
  }

  .footer-input input,
  .footer-input button {
    width: 80%;  /* Adjust to ensure input fields don't take up too much space */
    padding: 12px;
  }

  /* Align the social media icons */
  .right ul {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }

  .right ul li {
    margin: 0;
  }

  .right ul li a {
    font-size: 1.5rem;  /* Adjust the size of the icons */
  }

  .divider {
    display: none;  /* Hide the divider for mobile */
  }

}
